<a href="https://colab.research.google.com/github/XingxinHE/Chief_Curator_Griffin/blob/master/04_Griffin_distinguish_the_period_of_art.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')
import os, shutil
os.chdir("/content/gdrive/My Drive/Kaggle/Rijksmuseum")

Mounted at /content/gdrive

In [2]:
import pandas as pd
import numpy as np

In [3]:
ls

'01#Loading Info From XML'
'02#Discover Interesting Data'
'03#Griffin Try to distinguish the type of art_batch'
'04#Griffin Try to distinguish the date of art_batch'
 date_df.csv
'[FAIL & ANALYSIS] 03#Griffin Try to distinguish the type of art'
 jpg/
 project_curator.csv
 type_df.csv
 Untitled0.ipynb
 xml/

## Import the csv

In [50]:
type_df = pd.read_csv('type_df.csv', index_col=0)
type_df['tag'] = type_df['tag']+'.jpg'
type_df

                              type  ...   foto
0                       schilderij  ...  False
1                       schilderij  ...  False
2                       schilderij  ...  False
3       ['prent', 'historieprent']  ...  False
4       ['prent', 'historieprent']  ...  False
...                            ...  ...    ...
112034                     schotel  ...  False
112035                       prent  ...  False
112036       ['inktpot', 'deksel']  ...  False
112037                 hartsvanger  ...  False
112038                        munt  ...  False

[112039 rows x 9 columns]

In [4]:
date_df = pd.read_csv('date_df.csv', index_col=0)

In [6]:
date_df['tag'] = date_df['tag'] + '.jpg'

In [8]:
date_df

             date                           tag  date_str_len
0       1644-1648         0000001_SK-A-4878.jpg             9
1       1857-1857         0000002_SK-A-4877.jpg             9
2       1675-1685         0000003_SK-A-4881.jpg             9
3       1555-1556      0000004_RP-P-1992-35.jpg             9
4       1555-1556      0000005_RP-P-1992-36.jpg             9
...           ...                           ...           ...
112034  1700-1725  0112410_AK-RBK-14763-A-2.jpg             9
112035  1863-1863    0112411_RP-P-OB-86.512.jpg             9
112036  1590-1596        0112412_NG-NM-7753.jpg             9
112037  1774-1790        0112413_NG-NM-8358.jpg             9
112038  1808-1808       0112414_NG-KOG-2192.jpg             9

[112039 rows x 3 columns]

In [55]:
date_df.merge(type_df, on='tag', how='outer')

             date                           tag  ...  historie   foto
0       1644-1648         0000001_SK-A-4878.jpg  ...     False  False
1       1857-1857         0000002_SK-A-4877.jpg  ...     False  False
2       1675-1685         0000003_SK-A-4881.jpg  ...     False  False
3       1555-1556      0000004_RP-P-1992-35.jpg  ...      True  False
4       1555-1556      0000005_RP-P-1992-36.jpg  ...      True  False
...           ...                           ...  ...       ...    ...
112034  1700-1725  0112410_AK-RBK-14763-A-2.jpg  ...     False  False
112035  1863-1863    0112411_RP-P-OB-86.512.jpg  ...     False  False
112036  1590-1596        0112412_NG-NM-7753.jpg  ...     False  False
112037  1774-1790        0112413_NG-NM-8358.jpg  ...     False  False
112038  1808-1808       0112414_NG-KOG-2192.jpg  ...     False  False

[112039 rows x 11 columns]

In [56]:
date_type_df = date_df.merge(type_df, on='tag', how='outer')

## Play with the Date data

In [58]:
date_type_df['date_str_len'].value_counts()

9     110960
0        800
8        139
7         65
5         47
11        13
10         7
6          3
4          3
2          2
Name: date_str_len, dtype: int64

Only observe length=9 date

In [60]:
date_type_df = date_type_df[date_type_df['date_str_len']==9]

In [70]:
def start_year(x):
  return int(str(x)[:4])

def end_year(x):
  return int(str(x)[-4:])

def periods_cal(x):
  return int(str(x)[-4:]) - int(str(x)[:4])

In [64]:
date_type_df['date'].apply(start_year)

0         1644
1         1857
2         1675
3         1555
4         1555
          ...
112034    1700
112035    1863
112036    1590
112037    1774
112038    1808
Name: date, Length: 110960, dtype: int64

In [67]:
date_type_df['date'].apply(end_year)

0         1648
1         1857
2         1685
3         1556
4         1556
          ...
112034    1725
112035    1863
112036    1596
112037    1790
112038    1808
Name: date, Length: 110960, dtype: int64

In [71]:
date_type_df['date'].apply(periods_cal)

0          4
1          0
2         10
3          1
4          1
          ..
112034    25
112035     0
112036     6
112037    16
112038     0
Name: date, Length: 110960, dtype: int64

In [72]:
date_type_df['start_year'] = date_type_df['date'].apply(start_year)
date_type_df['end_year'] = date_type_df['date'].apply(end_year)
date_type_df['periods_year'] = date_type_df['date'].apply(periods_cal)

In [73]:
date_type_df.head()

        date                       tag  ...  end_year periods_year
0  1644-1648     0000001_SK-A-4878.jpg  ...      1648            4
1  1857-1857     0000002_SK-A-4877.jpg  ...      1857            0
2  1675-1685     0000003_SK-A-4881.jpg  ...      1685           10
3  1555-1556  0000004_RP-P-1992-35.jpg  ...      1556            1
4  1555-1556  0000005_RP-P-1992-36.jpg  ...      1556            1

[5 rows x 14 columns]

In [74]:
date_type_df['periods_year'].value_counts()

 0      44539
 2       4778
 4       3555
 10      2885
 1       2878
        ...
-24         1
 239        1
 198        1
-8          1
 268        1
Name: periods_year, Length: 256, dtype: int64

发现一个问题，那就是有部分数据写的是反的

In [76]:
date_type_df[date_type_df['end_year'] < date_type_df['start_year']]

             date                           tag  ...  end_year periods_year
1994    1620-1604         0001996_SK-A-4775.jpg  ...      1604          -16
1995    1620-1605         0001997_SK-A-4774.jpg  ...      1605          -15
6347    1789-1765        0006351_BK-1967-49.jpg  ...      1765          -24
7442    1732-1730          0007446_BK-17017.jpg  ...      1730           -2
7710    1771-1756      0007714_BK-1961-61-A.jpg  ...      1756          -15
...           ...                           ...  ...       ...          ...
87646   1598-1593      0087909_RP-P-1925-71.jpg  ...      1593           -5
95895   1784-1780     0096204_RP-P-2007-252.jpg  ...      1780           -4
96714   1800-1700      0097028_RP-P-OB-6238.jpg  ...      1700         -100
98187   1877-1870  0098529_RP-F-2007-112-29.jpg  ...      1870           -7
107217  1675-1600     0107586_RP-P-2008-486.jpg  ...      1600          -75

[77 rows x 14 columns]

In [77]:
date_type_df[date_type_df['end_year'] < date_type_df['start_year']].index

Int64Index([  1994,   1995,   6347,   7442,   7710,   7711,   8154,   9763,
              9784,  10592,  12697,  13797,  21348,  23847,  23849,  24573,
             26670,  29702,  31989,  32010,  32011,  32012,  32013,  32014,
             32015,  32016,  32017,  32568,  32987,  32988,  33199,  34034,
             36818,  36836,  36847,  37373,  37685,  38500,  39091,  41184,
             42675,  42678,  42679,  42680,  42681,  42682,  42683,  42684,
             42685,  43755,  44420,  44700,  46871,  47173,  50738,  50742,
             51589,  51841,  55672,  56530,  61051,  64479,  70097,  74551,
             75608,  75653,  75654,  77149,  79294,  80197,  86284,  87645,
             87646,  95895,  96714,  98187, 107217],
           dtype='int64')

In [78]:
reverse_index = date_type_df[date_type_df['end_year'] < date_type_df['start_year']].index

In [79]:
for index in reverse_index:
  start = date_type_df.loc[index, 'start_year']
  end = date_type_df.loc[index, 'end_year']
  #reverse
  date_type_df.loc[index, 'start_year'] = end
  date_type_df.loc[index, 'end_year'] = start

In [80]:
#检查一下没有出现问题了
date_type_df[date_type_df['end_year'] < date_type_df['start_year']].index

Int64Index([], dtype='int64')

In [83]:
#重新计算periods
date_type_df['periods_year'] = date_type_df['end_year'] - date_type_df['start_year']
date_type_df['periods_year'].value_counts()

0      44539
2       4780
4       3558
10      2885
1       2881
       ...
291        1
197        1
162        1
400        1
214        1
Name: periods_year, Length: 222, dtype: int64

In [85]:
top_10_periods = date_type_df['periods_year'].value_counts()[:20]
top_10_periods

0      44539
2       4780
4       3558
10      2885
1       2881
5       2718
20      2380
50      2182
25      1520
3       1510
6       1436
100     1339
40      1299
15      1256
60      1231
30      1092
49       948
99       923
41       882
63       855
Name: periods_year, dtype: int64

### start year最小多少？

In [86]:
date_type_df['start_year'].sort_values()

63        -500
53        -500
52        -500
48        -500
45        -500
          ...
63294     1952
109017    1953
108890    1954
108891    1964
108562    1998
Name: start_year, Length: 110960, dtype: int64

### end year最大多少？

In [90]:
date_type_df['end_year'].sort_values(ascending=False)

108562    1998
108891    1964
61051     1960
108890    1954
63294     1954
          ...
52        -200
48        -200
64749     -200
45        -200
47        -250
Name: end_year, Length: 110960, dtype: int64

In [92]:
date_type_df['end_year'].dtype

dtype('int64')

### 以创作年份为初始，划分类别

In [94]:
start_year_list = date_type_df['start_year'].values
start_year_list

array([1644, 1857, 1675, ..., 1590, 1774, 1808])

In [95]:
len(start_year_list)

110960

In [98]:
create_periods = pd.qcut(start_year_list, 10)
print(create_periods)

[(1627.0, 1650.0], (1800.0, 1998.0], (1650.0, 1675.0], (-500.001, 1570.0], (-500.001, 1570.0], ..., (1675.0, 1702.0], (1800.0, 1998.0], (1570.0, 1600.0], (1740.0, 1776.0], (1800.0, 1998.0]]
Length: 110960
Categories (10, interval[float64]): [(-500.001, 1570.0] < (1570.0, 1600.0] < (1600.0, 1627.0] <
                                     (1627.0, 1650.0] ... (1702.0, 1740.0] < (1740.0, 1776.0] <
                                     (1776.0, 1800.0] < (1800.0, 1998.0]]

In [99]:
pd.value_counts(create_periods)

(1627.0, 1650.0]      11997
(1570.0, 1600.0]      11732
(-500.001, 1570.0]    11453
(1740.0, 1776.0]      11151
(1675.0, 1702.0]      11092
(1776.0, 1800.0]      11063
(1702.0, 1740.0]      11001
(1800.0, 1998.0]      10986
(1650.0, 1675.0]      10380
(1600.0, 1627.0]      10105
dtype: int64

Griffin is a man who is sensible of whole history.

A brief history of Western culture:

Prehistoric (before c. 3000 B.C.E.) 我们没有这方面的艺术品，所以忽略

Ancient (c. 3000 B.C.E. to c. 400 C.E.)

Middle Ages (c. 400 C.E. to c. 1400 C.E.)

Renaissance (c. 1400 to 1600)

Early Modern (c. 1600 - 1800)

Modern (after c. 1800)

In [100]:
history_bins_name = ['Ancient', 'Middle Ages', 'Renaissance', 'Early Modern', 'Modern']
history_bins = [-1000, 400, 1400, 1600, 1800, 2020]

In [101]:
date_type_df['historical_period'] = pd.cut(date_type_df['start_year'], history_bins, labels=history_bins_name)

In [103]:
date_type_df['historical_period'].value_counts()

Early Modern    76789
Renaissance     22657
Modern          10986
Middle Ages       515
Ancient            13
Name: historical_period, dtype: int64

In [104]:
date_type_df.to_csv('date_type.csv')

## One hot coding the Historical Period

In [105]:
pd.get_dummies(date_type_df.historical_period, prefix='history')

        history_Ancient  ...  history_Modern
0                     0  ...               0
1                     0  ...               1
2                     0  ...               0
3                     0  ...               0
4                     0  ...               0
...                 ...  ...             ...
112034                0  ...               0
112035                0  ...               1
112036                0  ...               0
112037                0  ...               0
112038                0  ...               1

[110960 rows x 5 columns]

In [106]:
history_one_hot_df = pd.get_dummies(date_type_df.historical_period, prefix='history')

In [114]:
pd.concat([date_type_df, history_one_hot_df], axis=1)

             date  ... history_Modern
0       1644-1648  ...              0
1       1857-1857  ...              1
2       1675-1685  ...              0
3       1555-1556  ...              0
4       1555-1556  ...              0
...           ...  ...            ...
112034  1700-1725  ...              0
112035  1863-1863  ...              1
112036  1590-1596  ...              0
112037  1774-1790  ...              0
112038  1808-1808  ...              1

[110960 rows x 20 columns]

In [137]:
peroid_df = pd.concat([date_type_df, history_one_hot_df], axis=1)

In [138]:
peroid_df = peroid_df.iloc[:, [1,15,16,17,18,19]]

In [139]:
peroid_df

                                 tag  ...  history_Modern
0              0000001_SK-A-4878.jpg  ...               0
1              0000002_SK-A-4877.jpg  ...               1
2              0000003_SK-A-4881.jpg  ...               0
3           0000004_RP-P-1992-35.jpg  ...               0
4           0000005_RP-P-1992-36.jpg  ...               0
...                              ...  ...             ...
112034  0112410_AK-RBK-14763-A-2.jpg  ...               0
112035    0112411_RP-P-OB-86.512.jpg  ...               1
112036        0112412_NG-NM-7753.jpg  ...               0
112037        0112413_NG-NM-8358.jpg  ...               0
112038       0112414_NG-KOG-2192.jpg  ...               1

[110960 rows x 6 columns]

In [140]:
peroid_df.to_csv('peroid_df_for_training.csv')

在这里打乱，这样分训练集和测试集就不会受那个干扰了

In [126]:
peroid_df = peroid_df.sample(frac=1).reset_index(drop=True)
peroid_df

                                 tag  ...  history_Modern
0         0041752_RP-P-1906-3928.jpg  ...               0
1         0103566_RP-P-AO-7-27-A.jpg  ...               0
2         0078983_RP-P-1938-1819.jpg  ...               1
3              0005340_SK-A-4157.jpg  ...               0
4          0107196_RP-P-2009-636.jpg  ...               0
...                              ...  ...             ...
110955  0039106_RP-P-1883-A-7602.jpg  ...               0
110956    0043053_RP-P-OB-52.613.jpg  ...               0
110957   0100692_RP-T-00-492-76B.jpg  ...               0
110958  0028033_RP-P-1884-A-7949.jpg  ...               0
110959     0097827_RP-P-2007-414.jpg  ...               0

[110960 rows x 6 columns]

## Set Up

In [107]:
from keras_preprocessing.image import ImageDataGenerator
from keras.layers import Dense, Activation, Flatten, Dropout, BatchNormalization
from keras.layers import Conv2D, MaxPooling2D
from keras import regularizers, optimizers
from keras.models import Sequential
import keras

## Input X: Load Image as Numpy Arrary

In [127]:
columns=peroid_df.columns[1:]
columns

Index(['history_Ancient', 'history_Middle Ages', 'history_Renaissance',
       'history_Early Modern', 'history_Modern'],
      dtype='object')

In [128]:
datagen=ImageDataGenerator(rescale=1./255.)
test_datagen=ImageDataGenerator(rescale=1./255.)

In [130]:
batch_size = 32
img_dim = 128
seed = 13

In [132]:
train_generator=datagen.flow_from_dataframe(
dataframe=peroid_df[:99864],
directory="/content/gdrive/My Drive/Kaggle/Rijksmuseum/jpg",
x_col="tag",
y_col=columns,
batch_size=batch_size,
seed=seed,
shuffle=True,
class_mode="raw",
target_size=(img_dim,img_dim))

Found 99864 validated image filenames.

In [133]:
valid_generator=test_datagen.flow_from_dataframe(
dataframe=peroid_df[99864:105156],
directory="/content/gdrive/My Drive/Kaggle/Rijksmuseum/jpg",
x_col="tag",
y_col=columns,
batch_size=batch_size,
seed=seed,
shuffle=True,
class_mode="raw",
target_size=(img_dim,img_dim))

Found 5292 validated image filenames.

In [134]:
test_generator=test_datagen.flow_from_dataframe(
dataframe=peroid_df[105156:],
directory="/content/gdrive/My Drive/Kaggle/Rijksmuseum/jpg",
x_col="tag",
batch_size=1,
seed=seed,
shuffle=False,
class_mode=None,
target_size=(img_dim,img_dim))

Found 5804 validated image filenames.

## Build the model

In [135]:
model = Sequential()
model.add(Conv2D(32, (3, 3), padding='same', input_shape=(img_dim,img_dim,3)))
model.add(Activation('relu'))
model.add(Conv2D(32, (3, 3)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))
model.add(Conv2D(64, (3, 3), padding='same'))
model.add(Activation('relu'))
model.add(Conv2D(64, (3, 3)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))
model.add(Flatten())
model.add(Dense(512))
model.add(Activation('relu'))
model.add(Dropout(0.5))
model.add(Dense(5, activation='softmax'))
model.compile(keras.optimizers.RMSprop(lr=0.0001, decay=1e-6),loss="categorical_crossentropy",metrics=["accuracy"])

## Training Model

In [136]:
STEP_SIZE_TRAIN=train_generator.n//train_generator.batch_size
STEP_SIZE_VALID=valid_generator.n//valid_generator.batch_size
STEP_SIZE_TEST=test_generator.n//test_generator.batch_size
history = model.fit_generator(generator=train_generator,
                    steps_per_epoch=STEP_SIZE_TRAIN,
                    validation_data=valid_generator,
                    validation_steps=STEP_SIZE_VALID,
                    epochs=10
)

WARNING:tensorflow:From <ipython-input-136-dd9fa185a38e>:8: Model.fit_generator (from tensorflow.python.keras.engine.training) is deprecated and will be removed in a future version.
Instructions for updating:
Please use Model.fit, which supports generators.
Epoch 1/10
  20/3120 [..............................] - ETA: 7:31:40 - loss: 0.9839 - accuracy: 0.6453

KeyboardInterrupt: ignored

In [ ]:
model.save('griffin_period_guess_try1.h5')

In [ ]:
import matplotlib.pyplot as plt
acc = history.history['acc'] 
val_acc = history.history['val_acc'] 
loss = history.history['loss'] 
val_loss = history.history['val_loss']
epochs = range(1, len(acc) + 1)
plt.plot(epochs, acc, 'bo', label='Training acc') 
plt.plot(epochs, val_acc, 'b', label='Validation acc') 
plt.title('Training and validation accuracy') 
plt.legend()
plt.figure()
plt.plot(epochs, loss, 'bo', label='Training loss') 
plt.plot(epochs, val_loss, 'b', label='Validation loss') 
plt.title('Training and validation loss') 
plt.legend()
plt.show()

## Prediction

In [ ]:
test_generator.reset()
pred=model.predict_generator(test_generator,
steps=STEP_SIZE_TEST,
verbose=1)

In [ ]:
pred_bool = (pred >0.5)

In [ ]:
predictions = pred_bool.astype(int)

results=pd.DataFrame(predictions, columns=columns)
results["Files Name"]=test_generator.filenames
ordered_cols=["Files Name"]+columns
results=results[ordered_cols]#To get the same column order
results.to_csv("results.csv",index=False)